In [2]:
pip install folium

Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: numpy in c:\users\wnrrh\anaconda3\lib\site-packages (from folium) (1.20.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\wnrrh\anaconda3\lib\site-packages (from folium) (2.11.3)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in c:\users\wnrrh\anaconda3\lib\site-packages (from folium) (2.25.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\wnrrh\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\wnrrh\anaconda3\lib\site-packages (from requests->folium) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wnrrh\anaconda3\lib\site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wnrrh\anaconda3\lib\site-packages (from requests->folium) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wnrrh\anaconda3\lib\site-packages (from requests->folium) (2.10)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
# 기본 라이브러리

import pandas as pd
import numpy as np
from datetime import * 
import math

# 시각화 라이브러리 
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import seaborn as sns
%matplotlib inline


import folium

In [16]:
# csv 파일 불러오기
df02 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/2월.csv',header=0,encoding='cp949')
df03 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/3월.csv',header=0,encoding='cp949')
df04 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/4월.csv',header=0,encoding='cp949')
df05 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/5월.csv',header=0,encoding='cp949')
df06 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/6월.csv',header=0,encoding='cp949')
df07 = pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/7월.csv',header=0,encoding='cp949')

In [17]:
columns = ["사용년월", "노선번호", "노선명", "표준버스정류장ID", "버스정류장ARS번호", "정류장명", "0시승차", "0시하차", "1시승차", "1시하차", "2시승차", "2시하차", 
"3시승차", "3시하차", "4시승차", "4시하차", "5시승차", "5시하차", "6시승차", "6시하차", "7시승차", "7시하차", "8시승차", "8시하차", 
"9시승차", "9시하차", "10시승차", "10시하차", "11시승차", "11시하차", "12시승차", "12시하차", "13시승차", "13시하차", "14시승차", "14시하차", 
"15시승차", "15시하차", "16시승차", "16시하차", "17시승차", "17시하차", "18시승차", "18시하차", "19시승차", "19시하차", "20시승차", "20시하차", 
"21시승차", "21시하차", "22시승차", "22시하차", "23시승차", "23시하차", "등록일자"]

df02.columns = columns
df03.columns = columns
df04.columns = columns
df05.columns = columns
df06.columns = columns
df07.columns = columns

df = pd.concat([df02, df03, df04, df05, df06, df07])

In [18]:
df.drop(["사용년월", "노선번호", "노선명", "표준버스정류장ID", "0시하차", "1시하차", "2시하차","3시하차",
"4시하차", "5시하차", "6시하차", "7시하차", "8시하차","9시하차", "10시하차", "11시하차", "12시하차", "13시하차", "14시하차",
"15시하차", "16시하차", "17시하차", "18시하차", "19시하차", "20시하차", "21시하차", "22시하차", "23시하차", "등록일자"],
axis = 1, inplace=True)

In [19]:
# 합계 칼럼 추가
df = df.assign(합계 = lambda x: (x["0시승차"] + x["1시승차"] + x["2시승차"] + x["3시승차"] + x["4시승차"] + x["5시승차"] + 
x["6시승차"] + x["7시승차"] + x["8시승차"] + x["9시승차"] + x["10시승차"] + x["11시승차"] + x["12시승차"] + x["13시승차"] + x["14시승차"] + 
x["15시승차"] + x["16시승차"] + x["17시승차"] + x["18시승차"] + x["19시승차"] + x["20시승차"] + x["21시승차"] + x["22시승차"] + x["23시승차"]))

In [20]:
df = df.sort_values(by = "합계", ascending=False)
df = df.groupby(["정류장명"]).sum()

In [21]:
df=df.sort_values(by="합계",ascending=False)
a=df.head(10)
a

,0시승차,1시승차,2시승차,3시승차,4시승차,5시승차,6시승차,7시승차,8시승차,9시승차,...,15시승차,16시승차,17시승차,18시승차,19시승차,20시승차,21시승차,22시승차,23시승차,합계
정류장명,,,,,,,,,,,,,,,,,,,,,
미아사거리역,20251,4623,1699,1552,28142,62613,69301,115795,172032,130761,...,190083,217989,226190,257255,234782,195780,172467,162923,69000,3051233
고속터미널,21435,2180,0,0,3943,29832,41842,93278,127497,110263,...,174278,196644,212840,235800,210283,176784,160705,159226,64326,2656679
홍대입구역,17895,2481,1574,1067,1415,10834,30190,73001,132778,106184,...,131608,151072,182015,230120,204862,167787,203721,211415,70471,2406614
신도림역,14865,2415,1469,1343,13742,20501,33885,84690,160104,97743,...,123837,141024,164262,208634,195678,158778,170736,179971,75632,2284630
구로디지털단지역,9814,998,1675,767,11780,28807,45376,88688,153768,102450,...,100894,119063,178904,290319,220088,148790,162416,165099,58656,2271604
쌍문역,10306,1699,863,1315,22708,18043,31202,62214,92307,75885,...,115887,142141,173237,254717,267495,173548,162922,153525,77447,2253876
구로디지털단지역환승센터,2183,7,0,0,1,20984,31476,85119,147099,79369,...,97845,124058,179434,260769,228660,158102,168884,178281,75435,2142044
지하철2호선강남역,21507,5166,2270,2126,3717,10737,31859,85123,129671,110178,...,125132,135713,152122,172088,138222,123143,168102,173995,49466,2130673
노량진역,9339,653,400,481,3674,13611,25399,54786,85095,63240,...,104578,124660,178100,270635,207563,155623,174423,179518,67610,2090038
수유역.강북구청,16742,4486,532,464,3078,9303,32721,61780,111815,77394,...,119496,135611,162941,213156,194429,140450,144020,138070,67032,2078915

In [22]:
a.drop(["0시승차", "1시승차", "2시승차","3시승차","4시승차", "5시승차", "6시승차", "7시승차", "8시승차","9시승차", "10시승차",
"11시승차", "12시승차", "13시승차", "14시승차","15시승차", "16시승차", "17시승차", "18시승차", "19시승차", "20시승차", 
"21시승차", "22시승차", "23시승차"],axis = 1, inplace=True)
a

C:\Users\wnrrh\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                   합계
정류장명
미아사거리역        3051233
고속터미널         2656679
홍대입구역         2406614
신도림역          2284630
구로디지털단지역      2271604
쌍문역           2253876
구로디지털단지역환승센터  2142044
지하철2호선강남역     2130673
노량진역          2090038
수유역.강북구청      2078915

In [25]:
b=pd.read_csv('C:/Users/wnrrh/Desktop/data/승하차인원정보/상위10개.csv',header=0,encoding='utf-8')

In [26]:
c = pd.merge(a,b,how="outer",on="정류장명")

In [27]:
# 밀집도
c = c.assign(밀집도 = lambda x: x["합계"] / (x["정류장수"] * x["기본규격"])/100000)
c = c.sort_values(by = "밀집도", ascending=False)
c

           정류장명       합계  정류장수  기본규격       밀집도
6  구로디지털단지역환승센터  2142044     2    18  0.595012
7     지하철2호선강남역  2130673     2    18  0.591854
1         고속터미널  2656679     3    18  0.491978
5           쌍문역  2253876     3    18  0.417384
9      수유역.강북구청  2078915     4    18  0.288738
0        미아사거리역  3051233     6    18  0.282522
4      구로디지털단지역  2271604     6    18  0.210334
8          노량진역  2090038     6    18  0.193522
2         홍대입구역  2406614     7    18  0.191001
3          신도림역  2284630     7    18  0.181320

파생변수 생각좀 해봤는데, 
### 정류장 수, 기본규격은 챙겨가는게 맞다고 보고 앞쪽에 시간대별 이용자 수는 삭제함 왜냐면 시간대별로 밀집도를 나타낸거면 가져가는게 맞다고 보는데 그게 아니고 지금 총 이용객 수를 기준으로 밀집도를 낸거라서 제 생각엔 각 시간대별 밀집도를 구한다음 그 밀집도의 평균을 내는게 총 밀집도라고 생각이됌.

파생변수로 
정류장에 방문하는 버스 대수 > 리스트 해서 추가하면 되고 / 
정류장별로 가장 많이 이용하는 시간대 > 얘도 마찬가지 /  
경도 위도 추가 > 시각화 사용.(타 데이터에서 뽑아와서 병합하면 됨)

In [28]:
df좌표 = pd.read_csv('C:/Users/wnrrh/Desktop/data/정류장좌표.csv',header=0, encoding='cp949')

In [29]:
columns= ["표준ID", "ARS-ID", "정류장명", "X좌표", "Y좌표"]
df좌표.columns = columns
df좌표

            표준ID  ARS-ID           정류장명         X좌표        Y좌표
0      100000001    1001        종로2가사거리  126.987786  37.569764
1      100000002    1002    창경궁.서울대학교병원  126.996520  37.579179
2      100000003    1003      명륜3가.성대입구  126.998290  37.582709
3      100000004    1004       종로2가.삼일교  126.987507  37.568582
4      100000005    1005  혜화동로터리.여운형활동터  127.001694  37.586230
...          ...     ...            ...         ...        ...
10916  124000334   25995          우성아파트  127.139326  37.550442
10917  124000333   25996          우성아파트  127.140052  37.550620
10918  124000332   25997           조일약국  127.123477  37.533686
10919  124000331   25998           성내시장  127.125410  37.536199
10920  124000330   25999    천호우체국.로데오거리  127.127353  37.540390

[10921 rows x 5 columns]

In [30]:
df좌표.drop(["표준ID", "ARS-ID"],axis = 1, inplace=True)
df좌표

                정류장명         X좌표        Y좌표
0            종로2가사거리  126.987786  37.569764
1        창경궁.서울대학교병원  126.996520  37.579179
2          명륜3가.성대입구  126.998290  37.582709
3           종로2가.삼일교  126.987507  37.568582
4      혜화동로터리.여운형활동터  127.001694  37.586230
...              ...         ...        ...
10916          우성아파트  127.139326  37.550442
10917          우성아파트  127.140052  37.550620
10918           조일약국  127.123477  37.533686
10919           성내시장  127.125410  37.536199
10920    천호우체국.로데오거리  127.127353  37.540390

[10921 rows x 3 columns]

In [31]:
# 정류장이 ㅈㄴ 다양하니까 여러개를 평균내서 하나의 위치로 지정하려함. 
df위치=pd.merge(c,df좌표,how="inner",on="정류장명")
x= df위치.groupby(["정류장명"]).mean()
x= x.sort_values(by = "밀집도", ascending=False)
x

                   합계  정류장수  기본규격       밀집도         X좌표        Y좌표
정류장명
구로디지털단지역환승센터  2142044     2    18  0.595012  126.902026  37.484603
지하철2호선강남역     2130673     2    18  0.591854  127.026073  37.501183
고속터미널         2656679     3    18  0.491978  127.004968  37.505674
쌍문역           2253876     3    18  0.417384  127.034362  37.647936
수유역.강북구청      2078915     4    18  0.288738  127.025604  37.637874
미아사거리역        3051233     6    18  0.282522  127.030225  37.613606
구로디지털단지역      2271604     6    18  0.210334  126.901889  37.483882
노량진역          2090038     6    18  0.193522  126.943047  37.513738
홍대입구역         2406614     7    18  0.191001  126.923627  37.556959
신도림역          2284630     7    18  0.181320  126.890198  37.509182

In [32]:
k=x.drop(["기본규격"],axis=1,inplace=False)

In [33]:
df전처리=pd.read_csv('C:/Users/wnrrh/Desktop/data/좌표및버스대수.csv',header=0,encoding='cp949')
df전처리

           정류장명       합계  정류장수       밀집도         위도          경도  버스수
0  구로디지털단지역환승센터  2142044     2  0.595012  37.484603  126.902026   12
1     지하철2호선강남역  2130673     2  0.591854  37.501183  127.026073   59
2         고속터미널  2656679     3  0.491978  37.505674  127.004968   49
3           쌍문역  2253876     3  0.313038  37.647936  127.034362   37
4      수유역.강북구청  2078915     4  0.288738  37.637874  127.025604   32
5        미아사거리역  3051233     6  0.282522  37.613606  127.030225   46
6      구로디지털단지역  2271604     6  0.210334  37.483882  126.901889   40
7          노량진역  2090038     6  0.193522  37.513738  126.943047   52
8         홍대입구역  2406614     7  0.191001  37.556959  126.923627   85
9          신도림역  2284630     7  0.097634  37.509182  126.890198   65